@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css');

body {
    font-family: 'LXGW WenKai', 'Yu Mincho', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'LXGW WenKai', 'Yu Mincho', serif;
}

main {
    font-family: 'LXGW WenKai', 'Yu Mincho', serif;
}

header {
    font-family: 'LXGW WenKai', 'Yu Mincho', serif;
}

footer {
    font-family: 'LXGW WenKai', 'Yu Mincho', serif;
}
